<a href="https://colab.research.google.com/github/komal021406/ML/blob/main/Python_Fundamentals_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Fundamentals - Week 2

## Tuples

In [ ]:
# Define a new tuple
tuple_1 = ("Max", 28, "New York")

print(tuple_1)
print(type(tuple_1))

('Max', 28, 'New York')
<class 'tuple'>

In [ ]:
# Parentheses are optional
tuple_2 = "Linda", 25, "Miami"
print(tuple_2)
print(type(tuple_2))

('Linda', 25, 'Miami')
<class 'tuple'>

In [ ]:
# Tuples are immutable (ERROR)
tuple_1[2] = "Boston"

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Lists are mutable (unlike tuples)
list_1 = ["Max", 28, "New York"]

list_1[2] = "Boston"

print(list_1)

['Max', 28, 'Boston']

In [ ]:
# Tuples are iterable (combine tuples and lists)
new_tuple = (["Alice", 25, "New York"], ["Max", 28, "Boston"])

# Use list comprehensions to split and bundle corresponding elements
names = [item[0] for item in new_tuple]
ages = [item[1] for item in new_tuple]
cities = [item[-1] for item in new_tuple]

print(names)
print(ages)
print(cities)

['Alice', 'Max']
[25, 28]
['New York', 'Boston']

In [ ]:
myTuple = (1,2)
myTuple = myTuple + (3,)
# newTuple = myTuple + (3,)
print(myTuple, type(myTuple))

(1, 2, 3) <class 'tuple'>

In [ ]:
# Tuple unpacking
person = ("Alice", 25, "New York")

name, age, city = person

print(name)
print(age)
print(city)

Alice
25
New York

In [ ]:
# Integers: One element Tuple definition

tuple_1 = (5) # Not a tuple

print(tuple_1)
print(type(tuple_1))
print()

5
<class 'int'>

In [ ]:
tuple_2 = (5,) # tuple

print(tuple_2)
print(type(tuple_2))
print()

(5,)
<class 'tuple'>

In [ ]:
# Also true for strings
new_tuple = ('a',)

print(new_tuple)
print(type(new_tuple))

('a',)
<class 'tuple'>

#### Iteration through Tuples

In [ ]:
# Iterate through a tuple
tuple_1 = ("Max", 28, "New York")

In [ ]:
# Iterate by item
for item in tuple_1:
    print(item, end="  ")

Max  28  New York

In [ ]:
n = len(tuple_1)

# Iterate by index
for i in range(n):
    print(i, tuple_1[i])

0 Max
1 28
2 New York

In [ ]:
# Iterate by index and item (enumerate)
for idx, val in enumerate(tuple_1):
    print(idx, val)

0 Max
1 28
2 New York

In [ ]:
# Search a tuple
tuple_1 = ("Max", 28, "New York")

result1 = "New York" in tuple_1
result2 = "Chicago" in tuple_1
result3 = "Boston" not in tuple_1

print(result1, result2, result3)

True False True

In [ ]:
# Some tuples properties
my_tuple = ('a','p','p','l','e')

# len() : get the number of elements in a tuple
print(len(my_tuple))

# count(x) : Return the number of items that is equal to x
print(my_tuple.count('p'))

# index(x) : Return index of first item that is equal to x
print(my_tuple.index('l'))

5
2
3

In [ ]:
# repetition (such as lists and strings)
print(('a','p','p','l','e') * 2)

('a', 'p', 'p', 'l', 'e', 'a', 'p', 'p', 'l', 'e')

#### Type Conversions

In [ ]:
# Convert itearable to tuple
my_list = [1, 2, 3]
tuple_4 = tuple(my_list)
print(tuple_4)

(1, 2, 3)

In [ ]:
# Convert list to tuple
my_list = ['a', 'b', 'c', 'd']
list_to_tuple = tuple(my_list)
print(list_to_tuple)

('a', 'b', 'c', 'd')

In [ ]:
# Convert tuple to list
my_tuple = ('a', 'b', 'c', 'd')
tuple_to_list = list(my_tuple)
print(tuple_to_list)

['a', 'b', 'c', 'd']

In [ ]:
# convert string to tuple
my_str = 'Hello'
str_to_tuple = tuple(my_str)
print(str_to_tuple)

('H', 'e', 'l', 'l', 'o')

#### Memory Usage

In [ ]:
my_list = [0, 1, 2, 5, 10]
my_tuple = (0, 1, 2, 5, 10)

In [ ]:
# compare the size
import sys

print(sys.getsizeof(my_list), "bytes")
print(sys.getsizeof(my_tuple), "bytes")

104 bytes
80 bytes

#### Function Output

In [ ]:
# Using a tuple to return multiple values
def divide(a, b):
    quotient = a // b
    remainder = a % b
    return quotient, remainder

In [ ]:
# result = divide(10, 3) # 10 = 3 x 3 + 1

quotient, remainder = divide(10, 3)
print(quotient, remainder)

# result = divide(10, 3)
# print(result[0], result[1])

3 1

## Sets

In [ ]:
# Define a new set
set1 = {1, 5, 10, 4, 6, 9, 19}

print("Our set:", set1)
print("\nlength of the set:", len(set1))
print("\nMaximum element of the set", max(set1))

Our set: {1, 19, 4, 5, 6, 9, 10}

length of the set: 7

Maximum element of the set 19

In [ ]:
empty_list = [] # list()
empty_tuple = () # tuple()
empty_set = set()
empty_dictionary = {} # dict()

In [ ]:
# Define an empty set
empty_set = set()
print(empty_set)
print(type(empty_set))

set()
<class 'set'>

In [ ]:
# Don't confuse it with dictionary
empty_dict = {}
# empty_dict = dict()
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

In [ ]:
# Set is not indexed
set1 = {1, 5, 10, 4, 6, 9, 19}

set1[2]

TypeError: 'set' object is not subscriptable

In [ ]:
# Sets are heterogeneous
new_set = {2, 1, "a"}
print(new_set)

{1, 2, 'a'}

In [ ]:
# Sets remove duplicate elements
numbers = {2, 4, 6, 6, 2, 8, 6, 6, 6, 6}
print(numbers)

{8, 2, 4, 6}

#### Sets Built-in Functions

In [ ]:
# Set built-in functions
fruits = {"apple", "banana", "cherry"}
print(fruits)

{'cherry', 'banana', 'apple'}

In [ ]:
# Adding an element
fruits.add("orange")
print(fruits)

{'cherry', 'orange', 'banana', 'apple'}

In [ ]:
# Removing an element
fruits.remove("cherry")
print(fruits)

{'orange', 'banana', 'apple'}

In [ ]:
more_fruits = {"orange", "strawberry", "kiwi"}
print(more_fruits)

{'kiwi', 'orange', 'strawberry'}

In [ ]:
# Union
all_fruits = fruits.union(more_fruits)
print(fruits)
print(more_fruits)
print(all_fruits)

{'orange', 'banana', 'apple'}
{'kiwi', 'orange', 'strawberry'}
{'banana', 'kiwi', 'orange', 'strawberry', 'apple'}

In [ ]:
# Intersection
common_fruits = fruits.intersection(more_fruits)
print(common_fruits)

{'orange'}

In [ ]:
# Difference
different_fruits = all_fruits.difference(common_fruits)
print(different_fruits)

{'kiwi', 'strawberry', 'banana', 'apple'}

In [ ]:
# Update
fruits = {"apple", "banana", "orange"}
more_fruits = {"orange", "strawberry", "kiwi"}
fruits.update(more_fruits)
print(fruits)

{'banana', 'kiwi', 'orange', 'strawberry', 'apple'}

In [ ]:
# Removed element has to be in the set (ERROR)
fruits.remove("watermelon")

KeyError: 'watermelon'

In [ ]:
# discard(x): removes x, nothing if element is not present
fruits.discard("banana")
print(fruits)

{'kiwi', 'orange', 'strawberry', 'apple'}

In [ ]:
fruits.discard("blueberry")
print(fruits)

{'kiwi', 'orange', 'strawberry', 'apple'}

In [ ]:
# clear() : remove all elements
fruits.clear()
print(fruits)

set()

## Class Activity

### LeetCode 217

Given an integer array nums, return true if any value appears at least twice in the array, and return false if every element is distinct.

In [ ]:
# Solution 1
def containsDuplicate(nums):
    checker = set()
    for num in nums:
        if num not in checker:
            checker.add(num)
        else:
            return True
    return False

In [ ]:
# Solution 2
def containsDuplicate(nums):
    return len(nums) != len(set(nums))

In [ ]:
# Test Case 1
nums = [1, 2, 3, 1]
print(containsDuplicate(nums))

True

In [ ]:
# Test Case 2
nums = [1, 2, 3, 4]
print(containsDuplicate(nums))

False

In [ ]:
# Test Case 3
nums = [1, 1, 1, 3, 3, 4, 3, 2, 4, 2]
print(containsDuplicate(nums))

True

### LeetCode 349

Given two integer arrays nums1 and nums2, return an array of their intersection. Each element in the result must be unique and you may return the result in any order.

In [ ]:
# Solution 1
def intersection(nums1, nums2):
    # convert both to sets then intersection
    set1 = set(nums1)
    set2 = set(nums2)
    return list(set1.intersection(set2))

In [ ]:
# Solution 2
def intersection(nums1, nums2):
    return list(set(nums1).intersection(set(nums2)))

In [ ]:
# Test Case 1
nums1 = [1, 2, 2, 1] # {1, 2}
nums2 = [2, 2] # {2}
print(intersection(nums1, nums2))

[2]

In [ ]:
# Test Case 2
nums1 = [4, 9, 5] # {4, 9, 5}
nums2 = [9, 4, 9, 8, 4] # {9, 4, 8}
print(intersection(nums1, nums2))

[9, 4]

## Dictionaries

In [ ]:
# Define a new dictionary
capital_city = {"Nepal": "Kathmandu", "Italy": "Rome", "England": "London"}
print(capital_city)
print(type(capital_city))

{'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London'}
<class 'dict'>

In [ ]:
# Retrieve value for a given key
print("Capital of Italy:", capital_city["Italy"])

Capital of Italy: Rome

In [ ]:
capital_city["Spain"]

KeyError: 'Spain'

In [ ]:
# Retrieve value with a default option
print(capital_city.get("Spain", "Country not provided"))

Country not provided

In [ ]:
# Store a new key-value pair
capital_city["Japan"] = "Tokyo"
print("Updated Dictionary: ", capital_city)

Updated Dictionary:  {'Nepal': 'Kathmandu', 'Italy': 'Rome', 'England': 'London', 'Japan': 'Tokyo'}

#### Dictionary Methods

In [ ]:
# Another example
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [ ]:
# Get dict keys
keys = person.keys()
print(keys)
print(type(keys))

dict_keys(['name', 'age', 'city'])
<class 'dict_keys'>

In [ ]:
# Get dict vals
values = person.values()
print(values)
print(type(values))

dict_values(['Alice', 25, 'New York'])
<class 'dict_values'>

In [ ]:
# Get dict key-val pairs
items = person.items()
print(items)
print(type(items))

dict_items([('name', 'Alice'), ('age', 25), ('city', 'New York')])
<class 'dict_items'>

In [ ]:
# Converted to list
print(list(keys))
print(list(values))
print(list(items))

['name', 'age', 'city']
['Alice', 25, 'New York']
[('name', 'Alice'), ('age', 25), ('city', 'New York')]

In [ ]:
# Removing values

# pop - returns the value
val = person.pop('age')

print("Returned value:", val)
print("Updated dictionary:", person)

Returned value: 25
Updated dictionary: {'name': 'Alice', 'city': 'New York'}

In [ ]:
val = person.popitem()

print("Returned value:", val)
print("Updated dictionary:", person)

Returned value: ('city', 'New York')
Updated dictionary: {'name': 'Alice'}

In [ ]:
# Del - does not return the value
del person['name']
print(person)

KeyError: 'name'

#### Iteration and Existence

In [ ]:
# Membership Test for Dictionary Keys
squares = {
    1: 1,
    3: 9,
    5: 25,
    7: 49,
    9: 81
}
print(squares)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [ ]:
# Iterate through a dict
print("Iteration through dict:")

for key in squares:
    print(key, squares[key])

Iteration through dict:
1 1
3 9
5 25
7 49
9 81

In [ ]:
# Iterate through keys
print("Iteration through dict keys:")

for key in squares.keys():
    print(key, squares[key])

Iteration through dict keys:
1 1
3 9
5 25
7 49
9 81

In [ ]:
# # Iterate through vals
print("Iteration through dict vals:")

for value in squares.values():
    print(value)

Iteration through dict vals:
1
9
25
49
81

In [ ]:
# Iterate through key-val pairs
print("Iteration through dict key-val pairs:")

for item in squares.items():
    print(item)

Iteration through dict key-val pairs:
(1, 1)
(3, 9)
(5, 25)
(7, 49)
(9, 81)

#### Exercise

In [ ]:
print("The original dictionary:", squares)

The original dictionary: {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [ ]:
# Check existence - True = 1 / False = 0
a = 1 in squares # True
b = 2 not in squares # True
c = 49 in squares # False
d = 49 in squares.keys() # False
e = 49 in squares.values() # True

result = (a+b+c)**d+e

print(result)

2

#### Exercise

In [ ]:
my_dict = {3: 9, 6: 36, 9: 81}
print(my_dict)

{3: 9, 6: 36, 9: 81}

In [ ]:
print(my_dict[3])

9

In [ ]:
print(my_dict[2])

KeyError: 2

In [ ]:
print(my_dict.get(2, "!"))

!

#### Exercise

In [ ]:
new_dict = {}
print(new_dict)

{}

In [ ]:
# Tuple as key - immutable
new_dict[(8, 3, 4)] = 15
print(new_dict)

{(8, 7): 15, (8, 3, 4): 15}

In [ ]:
# List as key - mutable
new_dict[[3, 4]] = 7
print(new_dict)

{(8, 7): 15, (8, 3, 4): 15, 7: [3, 4]}

## Modules

#### Built-in Modules

In [ ]:
import math

In [ ]:
num = 16
print(math.sqrt(num))

4.0

In [ ]:
num = 4
print(math.factorial(num))

24

In [ ]:
print(math.pi)

3.141592653589793

In [ ]:
val = math.pi
print(math.sin(val))

1.2246467991473532e-16

In [ ]:
# Ceiling of a number
num = 2.3
print(math.ceil(num))
print(math.floor(num))

3
2

In [ ]:
import random

In [ ]:
random.randint(1, 10)

10

In [ ]:
round(random.random(), 2)

0.82

In [ ]:
random.choice([3, 4, 6, 10])

10

#### from ... import ...

In [ ]:
from math import sqrt, floor, ceil

# square root of a number
num = 16
print(sqrt(num))

4.0

In [ ]:
from random import randint

# Draw random integer in a range
print(randint(1, 10))

4

#### User-Defined Modules

In [ ]:
import math_calculator as mc

In [ ]:
mc.pi = 3.14

In [ ]:
mc.e = 2.73

In [ ]:
mc.e

2.73

In [ ]:
print(mc.pi, mc.person1['name'])

3.14 John

In [ ]:
print(mc.find_sqaure(10))

100

In [ ]:
from math_calculator import find_square_root

print(find_square_root(49))

7.0

In [ ]:
def find_square_root(a, b):
    return a**0.5, b**0.5

In [ ]:
find_square_root(36, 49)

(6.0, 7.0)

## Functional Programming

#### Lambda Function

In [ ]:
# Normal functions
def add_1(a, b):
    return a + b

added_val_1 = add_1(5, 10)
print(added_val_1)

15

In [ ]:
# Lambda function
add_2 = lambda a, b: a + b

added_val_2 = add_2(5, 10)
print(added_val_2)

15

In [ ]:
# Another example
def greet1():
    print("Hello World")

greet2 = lambda : print("Hello World")

greet3 = lambda name: print("Hello " + name)

greet1()
greet2()
greet3("New World")

Hello World
Hello World
Hello New World

#### map()

The map() function in Python does not modify the original iterable in-place. Instead, it applies a specified function to each element of the iterable and returns an iterable containing the results. The original iterable remains unchanged.

In [ ]:
# Example - with normal Python function
numbers = [2, 4, 8, 6, 8, 10]

def square(number):
    return number ** 2

numbersSquare_list = list(map(square, numbers))

print(numbersSquare_list)

[4, 16, 64, 36, 64, 100]

In [ ]:
# with Lambda function
numbersSquare_list = list(map(lambda x: x**2, numbers))
print(numbersSquare_list)

[4, 16, 64, 36, 64, 100]

#### filter()

In [ ]:
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

In [ ]:
def is_A_student(score):
    return score > 75

filtered_scores = filter(is_A_student, scores)

over_75 = list(filtered_scores)
print("Filtered list:", over_75)

Filtered list: [90, 76, 88, 81]

In [ ]:
filtered_scores = filter(lambda x: x > 75, scores)

over_75 = list(filtered_scores)
print("Filtered list:", over_75)

Filtered list: [90, 76, 88, 81]

## Class Activity

In [ ]:
# What is the output?

# lambda function with trenary operator
func = lambda a, b: b - a if a <= b else a * b

print(func(10, 2), func(2, 10))

20 8

In [ ]:
# Write a code to keep negative numbers (use both ordinary and lambda functions)

numbers = [1, 0, -3, 6, 5, -9, 24]

less_than_zero = list(filter(lambda x: x<0, numbers))

print(less_than_zero)

(-3, -9)

In [ ]:
# Write a code to find the length of each string

strings = ["apple", "fig", "orange"]

lengths_list = list(map(lambda s: len(s), strings))
# lengths_list = list(map(len, strings))

print(lengths_list)

[5, 3, 6]

In [ ]:
# Write a code to keep even numbers

numbers = [1, 2, 3, 4, 5, 6, 7, 8]

even_numbers_list = list(filter(lambda a: a % 2 == 0, numbers))

print(even_numbers_list)

[2, 4, 6, 8]

In [ ]:
# Write a code to keep vowels

letters = ['a', 'b', 'd', 'e', 'i', 'j', 'o']
vowels = ['a', 'e', 'i', 'o', 'u']

filtered_vowels = list(filter(lambda x: x in vowels, letters))

print(filtered_vowels)

['a', 'e', 'i', 'o']

### LeetCode 169

In [ ]:
def some_func():
    print(2)

In [ ]:
def majorityElement(nums):

    freq = dict()

    for num in nums:
        if freq.get(num, None) is None:
            freq[num] = 1
        else:
            freq[num] += 1

    for key in freq:
        if freq[key] > (len(nums) // 2):
            return key

In [ ]:
# Test Case 1
nums = [3, 2, 3]
print(majorityElement(nums))

3

In [ ]:
# Test Case 2
nums = [2, 2, 1, 1, 1, 2, 2]
print(majorityElement(nums))

2

## Scope of Variables

In [ ]:
def my_function():
    x = 5 # local variable
    print(x)

x = 4 # global variable
print(x)
my_function()
print(x)

4
5
4

In [ ]:
def my_function():
    z = 5 # local variable
    print(z + y)

y = 4 # global variable
my_function()
print(y)
# print(z) # Error: Not defined!

9
4

In [ ]:
# This function modifies global variable 's'
def f():
    global s
    print(s)
    s = "CD" # global variable
    print(s)

s = "AB" # global variable
print(s)
f()
print(s)

AB
AB
CD
CD

In [ ]:
# Example
s1 = "Maria" # global variable

def f():
    s3 = "Nicole" # local variable
    print(s1)
    print(s2)
    print(s3)

s2 = "Peter" # global variable
f()

Maria
Peter
Nicole

### Call by Value

In [ ]:
# Integer
def modify_value(x):
    x += 1
    return x

original_variable = 10

print("Original value:", original_variable)

result = modify_value(original_variable)

print("\nOriginal value after modification:", original_variable)

print("\nModified value:", result)

Original value: 10

Original value after modification: 10

Modified value: 11

In [ ]:
# Strings
def modify_string(input_string):
    input_string += " World!"
    return input_string

original_string = "Hello"

print("Original string:", original_string)

modified_string = modify_string(original_string)

print("\nOriginal string after update:", original_string)

print("\nModified string:", modified_string)

Original string: Hello

Original string after update: Hello

Modified string: Hello World!

### Call by Reference

In [ ]:
# Lists
def modify_list(lst):
    lst.append(4)

original_list = [1, 2, 3]

print("Original list:", original_list)

modify_list(original_list)

print("Modified list:", original_list)

Original list: [1, 2, 3]
Modified list: [1, 2, 3, 4]

In [ ]:
# Dictionaries
def modify_dict(input_dict):
    input_dict['key2'] = 'new_value'

original_dict = {'key1': 'value1', 'key2': 'value2'}

print("Original Dictionary:", original_dict)

modify_dict(original_dict)

print("Modified Dictionary:", original_dict)

Original Dictionary: {'key1': 'value1', 'key2': 'value2'}
Modified Dictionary: {'key1': 'value1', 'key2': 'new_value'}

## Class Activity

### Global vs Local

#### What is the output of this code?

In [ ]:
# What is the output?

a = 1 # global variable

def f():
    print(a, end="")

def g():
    a = 2 # local to g()
    print(a, end="")

def h():
    global a
    a = 3 # local to h()
    print(a, end="")

print(a, end="")
f()
print(a, end="")
g()
print(a, end="")
h()
print(a)

1112133

#### What is the output of this code?

In [ ]:
x = 10 # global var

def outer_function():

    y = 20 # local to outer / global to inner

    def inner_function():
        global x
        nonlocal y

        x = 30 # overwrites globally
        y = 40 # overwrites locally

        print(x, end=" ")
        print(y, end=" ")

    inner_function()
    print(x, end=" ")
    print(y, end=" ")

outer_function()
print(x)

30 40 30 40 30

### Call by Value or Reference

#### What is the output of this code?

In [ ]:
def modifier(a, b, c, d):
    a.append(3)
    b += 4
    c['a'] = 3
    d += "World"

var1 = [-1]   # mutable
var2 = 0      # immutable
var3 = {}     # mutable
var4 = "Hey " # immutable

modifier(var1, var2, var3, var4)

# [-1, 3] 0 {'a':3} "Hey "

print(var1, var2, var3, var4)

TypeError: unsupported operand type(s) for +=: 'bool' and 'str'

### LeetCode 1

In [ ]:
def twoSum(nums, target):
    dict1 = {}
    for i in range(len(nums)):
        dict1[nums[i]] = i
    for i in range(len(nums)):
        complement = target - nums[i]
        if complement in dict1 and dict1[complement] != i:
            return [i, dict1[complement]]

In [ ]:
def twoSum(nums, target):
    dict1 = {}
    for i in range(len(nums)):
        complement = target - nums[i]
        if complement in dict1:
            return [i, dict1[complement]]
        dict1[nums[i]] = i

In [ ]:
# Test Case 1
nums = [2, 7, 11, 15]
target = 9
print(twoSum(nums, target))

[1, 0]

In [ ]:
# Test Case 2
nums = [3, 2, 4]
target = 6
print(twoSum(nums, target))

[2, 1]

In [ ]:
# Test Case 3
nums = [3, 3]
target = 6
print(twoSum(nums, target))

[1, 0]